<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>金生前世基隆山</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/swiper.min.css" /></noscript>
	<link rel="stylesheet" href="assets/css/magnific-popup.css" /></noscript>
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h1>金生前世基隆山</h1>
			<p>舊金山新探索：水金九地質、地景與文化資產典藏轉化及創意加值</p>
			<ul class="actions">
				<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo">踩踏水金九黃金礦業</a>
			<a href="index.html" class="logo">金生前世基隆山</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="story1.html">黃金-臺灣最重要的金屬礦產</a></li>
				<li><a href="story2.html">水金九的地質故事</a></li>
				<li><a href="story3.html">金瓜石九份黃金開採史</a></li>
				<li><a href="story4.html">金瓜石九份史蹟與地景</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">


			<!-- Posts -->
			<section class="posts">
				<article>
					<header>
						<span class="date">「金屬之王」</span>
						<h2><a href="story1.html">黃金-臺灣最重要的金屬礦產</a></h2>
					</header>
					<a href="story1.html" class="image fit"><img src="images/index-story-1.png" alt="" /></a>
					<p>黃金是人類歷史上發現較早的貴金屬。因其稀有和材質特殊性，被稱為「金屬之王」，自古以來就是財富和地位的象徵。</p>
					<ul class="actions special">
						<li><a href="story1.html" class="button">觀看全文</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">百萬年的舞台</span>
						<h2><a href="story2.html">水金九的地質故事</a></h2>
					</header>
					<a href="story2.html" class="image fit"><img src="images/index-story-2.png" alt="" /></a>
					<p>金瓜石九份地區，蘊藏豐富的金銅礦，黃金產量曾高居遠東之冠，有「東亞第一金山」的稱號。據地質與礦業學者估計，其產金量至少有500噸，若以現值每盎司1500美元價格計算，相當於新台幣7兆2,345億元。</p>
					<ul class="actions special">
						<li><a href="story2.html" class="button">觀看全文</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">逝去的風華</span>
						<h2><a href="story3.html">金瓜石九份黃金開採史</a></h2>
					</header>
					<a href="story3.html" class="image fit"><img src="images/index-story-3.png" alt="" /></a>
					<p>金瓜石有紀錄的金開採曾經高達3公噸，是全中國年產量的三分之二，前台大林朝棨與譚立平教授估計，金瓜石的黃金應達500-600公噸左右，東亞第一金都之稱號名符其實。</p>
					<ul class="actions special">
						<li><a href="story3.html" class="button">觀看全文</a></li>
					</ul>
				</article>
				<article>
					<header>
						<span class="date">戀戀水金九</span>
						<h2><a href="story4.html">金瓜石九份史蹟與地景</a></h2>
					</header>
					<a href="story4.html" class="image fit"><img src="images/index-story-4.png" alt="" /></a>
					<p>一探古老的金瓜石秘密</p>
					<ul class="actions special">
						<li><a href="story4.html" class="button">觀看全文</a></li>
					</ul>
				</article>
			</section>

		</div>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>文化部&copy; Copyright 2018</li>

			</ul>
			<ul style="color: #777">
				<li>&copy; Copyright 2018</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

	</div>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>