<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>踩踏水金九黃金礦業</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/swiper.min.css" />
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />

	<link rel="stylesheet" href="css/all.css" />
	<link rel="stylesheet" href="css/module.css" />

<!-- 	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
	<script src="http://vjs.zencdn.net/c/video.js"></script>
 -->


	<!--燈相-->
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/ui.js"></script>


	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>


	<script>
		$(document).ready(function(){
			$.getJSON("_data/_mapdata.json", function(data){

				 var strUrl = location.search;
		 		 if (strUrl.indexOf("?") != -1) {

				    var getSearch = strUrl.split("=");
				    var thispage = getSearch[1]
				    console.log(thispage)

				}


				var _data = data
				console.log(_data)

				let _main_title = _data[thispage][0].main_title
				let _sub_title = _data[thispage][0].sub_title

				let _description = _data[thispage][0].description

				let _video_num = _data[thispage][0].video_num
				let _video_title = _data[thispage][0].video_title
				let _location_num = _data[thispage][0].location_num

				let _video_link = _data[thispage][0].video_link

				let _os_tw = _data[thispage][0].os_tw




				$('.t-title > h1').html(_main_title);
				$('.t-title > h2').html(_sub_title);
				$('.description').html(_description);

				$('.title_num > h5').html(_video_num);
				$('.title_naming > h5').html(_video_title);
				$('.location_num').html(_location_num);

				$('.os').html(_os_tw);


				var video_1 = document.createElement("source");
			     video_1.setAttribute("src", _video_link);
			     $('.video_play_include > video').html(video_1);



		  });


		});

		</script>

		<style>
			#navPanelToggle{display: none}
		</style>

</head>

<body class="is-preload">
	
	<!-- Wrapper -->
	<div id="wrapper">

			{% include '_template/menu.twig' %}



			<a href="stepping_map.html" class="goback"><i class="fas fa-arrow-circle-left"></i> 回上頁</a>





		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<section class="content_block">

				<header class="t-title">
					<h1></h1>
					<h2></h2>
				</header>


				<div class="description"></div>

				<div class="video_section">

					<div class="title_num">
						<img src="img/icon-01.png" alt="">
						<h5></h5>
					</div>

					<div class="title_naming">
						<img src="img/icon-02.png" alt="">
						<h5></h5>
					</div>
					<div class="location_num">
						<h5></h5>
					</div>

					<div align="center" id="shadow" class="video_play_include">
						<video class="video-js vjs-default-skin" controls="" data-setup="{}" id="example_video" preload="auto">
						</video>
					</div>
				</div>

				<div class="vidoe_os">
					<div class="os_title">影音 OS</div>
					<div class="os"></div>
				</div>

			</section>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>文化部&copy; Copyright 2018</li>

			</ul>
			<ul style="color: #777">
				<li>&copy; Copyright 2018</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

		<div class="bg fixed" style="transform: none;"></div>

		<button class="goto-top">
			回頂端
		</button>
	</div>


	<script src="assets/js/main.js"></script>
</body>

</html>