<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>踩踏水金九黃金礦業</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/swiper.min.css" />
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />

	<link rel="stylesheet" href="/css/all.css" />
	<link rel="stylesheet" href="/css/module.css" />

<!-- 	<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet" />
	<script src="http://vjs.zencdn.net/c/video.js"></script>
 -->


	<!--燈相-->
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="js/map_ui.js"></script>


	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>





</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
			<br>
			<br>
			<br>

		<!-- Main -->
		<div id="main">
			<!-- Post -->
			<section class="map_block">


				<h1>踩踏水金九黃金礦業</h1>


				<div class="map_section">

					<div class="this_map">

						<div class="location_position tag_1">
							<div class="location">
								<i class="fas fa-map-marker-alt"></i>
							</div>

							<div class="location_detail">

								<div class="detail_row">
									<img src="img/location_photo_01.png" alt="">
									<div class="des">
										<h6>昇平戲院</h6>
										<p>昇平戲院初建時為木造建築.....</p>
									</div>
								</div>

								<div class="detail_row">
									<img src="img/location_photo_01.png" alt="">
									<div class="des">
										<h6>昇平戲院</h6>
										<p>昇平戲院初建時為木造建築.....</p>
									</div>
								</div>


							</div>
						</div>

						<div class="location_position tag_2">
							<div class="location">
								<i class="fas fa-map-marker-alt"></i>
							</div>

							<div class="location_detail">
								<p>123</p>
								<p>123</p>
								<p>123</p>
							</div>
						</div>






					<img src="img/map.jpg" alt="">
					</div>

				</div>





			</section>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>文化部&copy; Copyright 2018</li>

			</ul>
			<ul style="color: #777">
				<li>&copy; Copyright 2018</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

		<div class="bg fixed" style="transform: none;"></div>

		<button class="goto-top">
			回頂端
		</button>
	</div>


	<script src="assets/js/main.js"></script>
</body>

</html>