<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>金瓜石九份黃金開採史|金生前世基隆山</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/swiper.min.css" />
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />
	<link rel="stylesheet" href="assets/css/twentytwenty.css" />

	<link rel="stylesheet" href="assets/css/noscript.css" />

	<!--燈相-->
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>

	<!-- <script src="assets/js/main.js"></script> -->
	<script src="assets/js/ui.js"></script>
	<script src="assets/js/jquery.magnific-popup.min.js"></script>
	<script src="assets/js/swiper.min.js"></script>
	<script src="assets/js/jquery.event.move.js"></script>
	<script src="assets/js/jquery.twentytwenty.js"></script>


	<script>
	$(function(){
		$('.open-popup-link').magnificPopup({
		  type:'inline',
		  midClick: true,
		  gallery:{
			    enabled:true
			  }
		  // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
		});
	});
</script>


	<style>
		.show_contnet_01{
			width: 800px;
			position: relative;
			margin: 0 auto;
			background: #FFF;
		}

		.show_contnet_02{
			width: 800px;
			position: relative;
			margin: 0 auto;
			background: #FFF;
		}



	</style>


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo">金生前世基隆山</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li><a href="story1.html">黃金-臺灣最重要的金屬礦產</a></li>
				<li><a href="story2.html">水金九的地質故事</a></li>
				<li><a href="story3.html">金瓜石九份黃金開採史</a></li>
				<li class="active"><a href="story4.html">金瓜石九份史蹟與地景</a></li>
			</ul>
		</nav>


		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<span class="date">戀戀水金九</span>
					<h1>金瓜石九份史蹟與地景</h1>
				</header>

				<section class="mb-32 custom-clear">

					<section>
						<p>
							</p>

						<!--
						<div class="image-area" style="text-align: center;">
							<img src="images/image28.png" alt="" style="max-width: 100%;" />
							<a href="javascript:;" class="hole hole-4"></a>
						</div>
						-->
						<div class="image-area" style="text-align: center;display: inline-block;vertical-align: middle;width: 100%; font-size: 0;">
							<img src="images/image30.jpg" alt="" style="max-width: 100%;" />
							<a href="javascript:;" class="hole hole-1"></a>
							<a href="javascript:;" class="hole hole-3"></a>
							<a href="javascript:;" class="hole hole-5 hole-5-up"></a>
							<a href="javascript:;" class="circle_go hole-4 "></a>

						</div>

					</section>


				</section>

				<div style="text-align: center;">
					<a href="story4.html" class="button primary" style="margin-bottom: 10px;">回到：戀戀水金九-金瓜石九份史蹟與地景</a>
				</div>
			</section>

		</div>


		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>文化部 &copy; Copyright 2018</li>

			</ul>
			<ul style="color: #777">
				<li>&copy; Copyright 2018</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

		<div class="bg fixed" style="transform: none;"></div>

		<button class="goto-top">
			回頂端
		</button>


	</div>




</body>

</html>