<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>黃金―臺灣最重要的金屬礦產|金生前世基隆山</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="stylesheet" href="assets/css/swiper.min.css" /></noscript>
	<link rel="stylesheet" href="assets/css/magnific-popup.css" /></noscript>
	<noscript>
	<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	<link rel="stylesheet" href="css/module.css" />

	<!--燈相-->
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>

	<script src="assets/js/ui.js"></script>


	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>


	<style>
		.figure-style {
			width: 300px;
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 1.2;
			float: left;
			margin-right: 30px;
		}

		.figure-style img {
			width: 100%;

		}
	</style>

	<script>
		$(document).ready(function () {

			$('.popup-link').magnificPopup({
				type: 'image'
			});

		});
	</script>


</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">
		
		<!-- Header -->
		{% include '_template/menu.twig' %}

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active"><a href="story1.html">黃金-臺灣最重要的金屬礦產</a></li>
				<li><a href="story2.html">水金九的地質故事</a></li>
				<li><a href="story3.html">金瓜石九份黃金開採史</a></li>
				<li><a href="story4.html">金瓜石九份史蹟與地景</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Post -->
			<section class="post">
				<header class="major">
					<span class="date">「金屬之王」</span>
					<h1>黃金-<br />
						臺灣最重要的金屬礦產</h1>
				</header>
				<div class="custom-hashtag half">
					<ul>
						<li><a href="#section2">黃金特性與身世的秘密</a></li>
						<li><a href="#section3">金的簡易溶解與提煉原理</a></li>
						<li><a href="#section4">生產黃金，成本與代價高</a></li>
						<li><a href="#section5">金瓜石為何有那麼多黃金?</a></li>
					</ul>
				</div>





				<section id="section1" class="mb-32 custom-clear">
					<!-- <div class="image main"><img src="images/pic01.jpg" alt="" /></div> -->
					<!-- <div style="float:left; margin-right: 20px">
										<img border="0" src="images/image51.png" style="max-width: 100%;margin-left: 0%;">
									</div>
											 -->
					<p>黃金是人類歷史上發現較早的貴金屬。因其稀有和材質特殊性，被稱為「金屬之王」，自古以來就是財富和地位的象徵。用「黃金」或「金」字表示珍貴與美好的形容詞與成語多不勝數。另一方面，綜觀人類歷史，無數人因黃金而沉淪，導致罪惡、貪婪、腐化，甚至引發血腥的戰爭和屠殺。隨著社會的發展，黃金的經濟地位和應用層面不斷發生變化，但仍是各國重要的儲備資產。</p>
                    <p>黃金很稀有，但很難憑空想像黃金有多麼值錢?很細的金粉，看似黃泥巴，經過去雜質、純化後，經過1300oC高溫熔化成金液，倒入模具裡凝固，成為每塊400盎司(約12.5公斤)、金光閃閃的國際標準金錠(圖一)。如果按照2000美元/盎司來計算，一塊金錠價值是80萬美元，約2400萬台幣。根據世界黃金協會的數據，人類迄今已經冶煉共約17萬噸黃金，溶融凝固後約可以形成一個邊長20公尺的立方體。</p>

					<a href="images/image01_01.jpg" class="popup-link" title="圖一(左) 每塊約12.5公斤的標準金錠;">
						<figure class="image left">
							<img src="images/image01_01_s.jpg" alt="圖一" style="max-width: 100%; "/>
							<figcaption><span style="font-size:12px;">圖一：(左) 每塊約12.5公斤的標準金錠</span></figcaption>
						</figure>
					</a>

					<a href="images/image01_01_1.jpg" class="popup-link" title="(右) 世界最大的金錠250公斤 (Toi Gold Museum；Own work by uploader, Toi MineCC BY-SA 3.0)">
						<figure class="image right">
							<img src="images/image01_01_1_s.jpg" alt="圖一" style="max-width: 100%; "/>
							<figcaption><span style="font-size:12px;">圖一： (右) 世界最大的金錠250公斤 (Toi Gold Museum；Own work by uploader, Toi MineCC BY-SA 3.0)</span></figcaption>
						</figure>
					</a>
                </section>

                <section id="section1" class="mb-32 custom-clear">
					<p>黃金為什麼那麼值錢?高價的原因是其數量極為稀少。在地球地殼中只有十億分之三是金(0.003ppm)，平均每噸岩石僅含3毫克黃金。換言之，一般地殼須在特殊地方、經過複雜的地質作用，將黃金濃縮達千倍、甚至萬倍以上，才能成為有經濟價值的金礦床。有經濟效益的大型露天開採的金礦，通常礦石的含金量(稱為「品位」)須達1至5克/噸(1-5
						ppm)。在硬岩開採（Hard rock mining）或是地下開採（Underground mining）的礦石的品位通常至少要達3ppm。由於金的品位一般要達到30 g/1000 kg (= 30
						ppm)才可能以肉眼辨識，所以大多數金礦中的金是看不到的。</p>
					<p>就地質角度而言，遠古時期黃金較易取得，自1910年以來，人類發現的金礦75%已被開採。2013年一份對全球金礦資源總結報告指出，全球金礦的平均品位大約為1克/噸，即一噸礦石才能練出1克黃金（0.035盎司，相當於一個小迴紋針的質量），雖然無法用肉眼發現金的存在，但對那些開採技術好的公司而言，近地表、可露天開採的這種大礦體，可能已具有經濟價值。礦石是有經濟價值的礦物（如金、硫砷銅礦等）與無經濟價值的礦物(如石英、方解石等)的集合體。當礦石內的金會以粒狀或微粒子狀態存在岩石中，通常會與石英或如黃鐵礦伴生，此情況稱為脈狀礦床或是岩脈金(圖二)。黃鐵礦一般也呈金黃色，容易誤認為黃金，故俗稱「愚人金」(圖三)。</p>

					<a href="images/image01_02.png" class="popup-link" title="礦脈中的金與石英(產地:金瓜石)">
						<figure class="image left">
							<img src="images/image01_02_s.jpg" alt="圖二" style="max-width: 100%;" />
							<figcaption><span style="font-size:12px;">圖二：礦脈中的金與石英(產地:金瓜石)</span></figcaption>
						</figure>
					</a>

					<a href="images/image01_03.png" class="popup-link" title="金瓜石礦液充填破裂岩石而形成富含金的礦石；金以粒狀或微觀粒子狀態存在岩石中，通常與石英及黃鐵礦共生">
						<figure class="image right">
							<img src="images/image01_03_s.jpg" alt="圖三" style="max-width: 100%;" />
							<figcaption><span style="font-size:12px;">圖三：金瓜石礦液充填破裂岩石而形成富含金的礦石；金以粒狀或微觀粒子狀態存在岩石中，通常與石英及黃鐵礦共生</span></figcaption>
						</figure>
					</a>

				</section>

				<section id="section2" class="mb-32 custom-clear">
					<header>
						<h3>黃金特性與身世的秘密</h3>
					</header>
					<p>金的原子序數為79，在宇宙天然存在的元素中屬於重元素。科學家認為金這類重元素是兩顆中子星碰撞時合成中產生，早在太陽系形成前的塵埃中就已存在，因此恆星和行星形成時，也就有這些重金屬。由於地球形成之初還處於熔融狀態，早期的金幾乎都已沉入地核，目前存在地球上地殼和地函的金，多是拜後來「後期重轟炸期」(距今約40億年前）外太空來的小行星所賜(圖四)。不過，也有部分學者認為地函裡面的黃金與白金並非後期重轟炸、增積過程中加進來的，而是在更早形成地核的時候，殘留了一點留在地函裡面。</p>
					<p>

						<p>據科學家的測量和估算，地球的黃金總儲量大約有48億噸，但99%以上的金在地核內，而分布到整個地殼的只有不到1億噸。金的分布是地球長期演化過程中形成的。地球發展早期階段形成的地殼，金的豐度較高，因此代表早期殘存地殼組成的太古宙綠岩帶(太古宙起始於「後期重轟炸期」，代表地球岩石開始穩定存在並保留到現在)，尤其是鎂鐵質和超鎂鐵質火成岩，金的豐度值高於地殼各類岩石，可能成為金礦床的最早的「礦源層」。迄今為止，人類發現的最大的金塊重達280公斤，產於美國的加利福尼亞州。</p>
						<p>金在元素週期表中在11族，屬過渡金屬，是化學性質最不活潑的幾種元素之一。金在常溫常壓下是固體，在自然界中常以自然金存在，例如岩石、礦脈及沖積層中的金粒或砂金。金能和游離態的銀形成固溶體(銀含量超過20%稱為琥珀金)；在自然界中也能和銅、鈀形成合金。礦物中的金化合物不常見，主要是碲化金。金能溶於汞它的周期表鄰近元素汞(Hg,即水銀)，形成汞齊（汞齊也是一種合金)，但這並非化學反應。上述與金的性質上有互動的元素，在元素周期表內的相對位置可由圖中著黃色者看出(圖五)。</p>

						<a href="images/image01_04.png" class="popup-link" title="藝術家想像的後期轟炸期景像。Free to use: (please credit Tim Wetherell - Australian National University">
							<figure class="image left">
								<img src="images/image01_04_s.jpg" alt="圖四" />
								<figcaption><span style="font-size:12px;">圖四：藝術家想像的後期轟炸期景像。Free to use: (please credit Tim Wetherell -
										Australian National University)</span></figcaption>
							</figure>
						</a>

						<a href="images/image01_05_2.png" class="popup-link" title="金的性質與元素週期表">
							<figure class="image right">
								<img src="images/image01_05_s.png" alt="圖五" />
								<figcaption><span style="font-size:12px;">圖五：金的性質與元素週期表</span></figcaption>
							</figure>
						</a>
				</section>

				<section id="section3" class="mb-32 custom-clear">
					<header>
						<h3>金的簡易溶解與提煉原理</h3>
					</header>
					<p>利用金溶於汞的性質，能將金從其他礦物中分解出來，可用於金礦提煉。類似1554年發明用汞從銀礦中提取銀的混汞法，將含金礦石與汞混合，讓黄金溶解在汞中，再將汞加熱，使汞蒸發，就得到了黄金。此外，金能抵抗硝酸等單一酸的侵蝕，卻能被王水溶解，也能溶於鹼性氰化物溶液，因此提取黄金需要氰化物、汞或王水(圖六)。</p>
					<p>
						<a href="images/image01_06.png" class="popup-link" title="以王水提煉產生的金粉 Pure gold precipitate produced by the aqua regia refining process
										By Greenhorn1 - Own work, Public Domain, https://commons.wikimedia.org/w/index.php?curid=8994277">
							<figure class="image right">
								<img src="images/image01_06_s.jpg" alt="圖六" />
								<figcaption>
									<span style="font-size:12px;">圖六：以王水提煉產生的金粉 Pure gold precipitate produced by the aqua regia refining process
										By Greenhorn1 - Own work, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=8994277" target="block" style="font-size:12px;">https://commons.wikimedia.org/w/index.php?curid=8994277</a></span></figcaption>
							</figure>
						</a>
						<ul class="alt">
							<li>王水，又稱王酸或硝基鹽酸，由濃硝酸和濃鹽酸按1:3體積比混合而成，酸性和氧化性極強，能夠溶解化學性極為穩定的金和鉑的物質，因而得名。僅少數(如矽、鉭、氯化銀、硫酸鋇等)能耐得住王水的腐蝕；王水不穩定，極易變質分解。
							</li>
							<li>氰化物(在英文中稱為cyanide，由cyan（青色，藍綠色）一字衍生而来。因單質的氰[(CN)2]呈氣態，故以青字加上氣字頭，得到現在通行的氰字。</li>
							<li>硝酸無法溶解金的性質，也用來鑑別金銀鉑等貴金屬（precious metal）與鐵銅鋁等卑金屬(base metal）的方法。這也是英語諺語「acid
								test」的語源，指用「測試黃金的標準」來測試目標物是否名符其實。意謂著真正的考驗、嚴峻的考驗、決定性的考驗或關鍵的測試。</li>
						</ul>

				</section>

				<section id="section4" class="mb-32 custom-clear">
					<header>
						<h3>生產黃金，成本與代價高</h3>
					</header>
					<p>金是世界上最美的化學元素之一，也是人類較早發現和利用的貴金屬之一。作為五金之首，因其獨特的化學與物理性質，在工業催化、醫療、環境、電化學等领域有着重要的用途。我們使用的智能手機，裏面可能就有着採金工人們生命的付出。提煉黃金常用的王水、氰化物(如氰化鈉)以及汞等若處理不當，都是有對身體健康或環境有嚴重危害的物質。換言之，要獲得黃金，成本或代價極高。</p>
					<p>
						<a href="images/image01_07.png" class="popup-link" title="世界五大產金國黃金產量趨勢圖 (2018, USGS)">
							<figure class="image left">
								<img src="images/image01_07_s.jpg" alt="圖七" />
								<figcaption><span style="font-size:12px;">圖七：世界五大產金國黃金產量趨勢圖 (2018, USGS)</span></figcaption>
							</figure>
						</a>

						<p>中國大陸2008年黃金產量達到300噸，超過南非成為全球第一大產金國(圖七)。雖然相較於南非、澳洲、俄羅斯、美國、加拿大等，中國不是一個金礦資源大國，且其金礦品質低，何以能成為全球黃金產量最多的國家？尤其所有其它產金大國黃金產量逐漸縮水，但中國產金量卻逐漸增加，最大產金國地位無可撼動。主要是使用了由西方國家傳來的簡單、成本低且快速的氰化鈉「堆浸提金術」。使用氰化鈉堆浸提金術能夠產量大增，但若處理不當，隨之而來的「摧毀性」環境破壞力也讓西方各國不敢使用。中國大陸氰化鈉生產能力已經超過澳洲和美國，成為世界第一生產大國。出口南美、北美、澳洲和南非的氰化鈉主要用於黃金提取。</p>
				</section>

				<section id="section5" class="mb-32 custom-clear">
					<header>
						<h3>金瓜石為何有那麼多黃金?</h3>
					</header>
					<p>金瓜石礦床主要產自石英安山岩；本山就是石英安山岩(圖八)。金瓜石和大屯山同樣屬安山岩類，典型的安山岩(如大屯山)不含石英，但金瓜石一帶含很多石英。石英安山岩在世界上常常形成金礦。</p>

					<p>
						<a href="images/image01_08.png" class="popup-link" title="金瓜石一帶的石英安山岩">
							<figure class="image left">
								<img src="images/image01_08_s.jpg" alt="圖八" />
								<figcaption><span style="font-size:12px;">圖八：金瓜石一帶的石英安山岩</span></figcaption>
							</figure>
						</a>

						<p>本山的山頭--<span style="font-weight:bold;">「金瓜」</span>整個是富含黃金的礦體，所以從山頂下挖了兩百公尺厚，整個都拿去化學提煉。另外，由總長約400公里的地下坑道所挖出礦石亦是。在早期用大量氰化物泡洗，使黃金溶到液體裡頭。之後，在水槽裡頭放入普通的廢鐵或廢鋅，讓溶液中的金離子沉澱到槽底。金瓜石用這個辦法提取黃金，可以說是1940年代世界上最進步的方法。當時金瓜石不少一般民家，模仿這種方式，家裡藏放了這種所謂的毒藥，偷偷的挑取礦區的地表土石在自家提煉黃金，滿區都有黃金的故事。</p>
				</section>

				<section id="section6" class="mb-32 custom-clear">
					<header>
						<h3>「熱水礦化作用」</h3>
					</header>
					<p>由於火成作用本身會帶來一些由岩漿逸出、含豐富礦物質的熱礦液，而熾熱的火成岩體也會加熱地下水，熱液和熱地下水便混合成「熱水礦液」。熱水礦液在地底深處高溫高壓的環境下，溶有較多的金屬離子，它們會順著岩層內的斷裂和破碎帶上升。</p>
					<p>當熱水礦液流經岩石裂隙上升到較淺處時，其溫度及所受的壓力降低，金屬離子在熱液中的溶解度也跟著降低，於是過飽和的金屬離子便驟然沉澱在裂縫或周遭的岩石孔隙內，產生所謂的「熱水礦化作用」。如果礦物沉澱累積的量夠多而能獲利、具開採價值，便成為「礦床」。</p>
					<p>熱水礦液在上湧的過程中，除了會產生礦化作用之外，高溫強酸的熱水礦液也常和岩石發生物理或化學反應，使岩石的質地產生改變，在地質學上稱之為「換質作用」。金瓜石地區岩石所受的熱水換質作用常見的有三種:
						「矽化作用」(圖九)、「黏土化作用」、「綠泥石化作用（或稱青盤岩化作用）」。(圖十)</p>

					<a href="images/image01_09.png" class="popup-link" title="金瓜石地區受矽化作用的石英安山岩，角閃石受酸性熱液溶蝕而留下空洞">
						<figure class="image left">
							<img src="images/image01_09_s.jpg" alt="圖九" />
							<figcaption><span style="font-size:12px;">圖九:金瓜石地區受矽化作用的石英安山岩，角閃石受酸性熱液溶蝕而留下空洞</span></figcaption>
						</figure>
					</a>

					<a href="images/image01_10.png" class="popup-link" title="金瓜石地區青盤岩化的石英安山岩">
						<figure class="image right">
							<img src="images/image01_10_s.jpg" alt="圖十" />
							<figcaption><span style="font-size:12px;">圖十:金瓜石地區青盤岩化的石英安山岩</span></figcaption>
						</figure>
					</a>

				</section>

				<div style="text-align: center;">
					<a href="story2.html" class="button primary" style="margin-bottom: 10px;">下一篇：百萬年的舞台-水金九的地質故事</a>
				</div>
			</section>

		</div>



		<!-- Copyright -->
		<div id="copyright">
			<ul>
				<li>文化部&copy; Copyright 2018</li>

			</ul>
			<ul style="color: #777">
				<li>&copy; Copyright 2018</li>
				<li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
			</ul>
		</div>

		<div class="bg fixed" style="transform: none;"></div>

		<button class="goto-top">
			回頂端
		</button>
	</div>


	<script src="assets/js/main.js"></script>
</body>

</html>