*, *:before, *:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px; }

a {
  text-decoration: none; }

@media (min-width: 0) and (max-width: 890px) {
  .goback {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  .goback:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .goback {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    text-decoration: none; }
  .goback:after {
    content: " ";
    display: block;
    clear: both; }
  .goback i {
    font-size: 30px;
    margin-right: 10px; }
  .goback:hover {
    text-decoration: none;
    color: #444 !important; } }

@media (min-width: 0) and (max-width: 890px) {
  .content_block {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  .content_block:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .content_block {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px; }
  .content_block:after {
    content: " ";
    display: block;
    clear: both; }
  .content_block .t-title {
    margin-bottom: 30px; }
  .content_block .t-title h1 {
    text-align: left;
    font-size: 45px;
    margin-bottom: 20px; }
  .content_block .t-title h2 {
    text-align: left;
    font-size: 20px;
    font-weight: 400; }
  .content_block .description {
    margin-bottom: 50px; }
  .content_block .description p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #777; } }

@media (min-width: 0) and (max-width: 890px) {
  .video_section {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  .video_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .video_section {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px; }
  .video_section:after {
    content: " ";
    display: block;
    clear: both; }
  .video_section h5 {
    font-size: 20px; }
  .video_section .title_num {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-size: 21px;
    margin-bottom: 5px; }
  .video_section .title_num img {
    width: 20px;
    margin-right: 10px; }
  .video_section .title_naming {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    font-size: 21px;
    margin-bottom: 5px; }
  .video_section .title_naming span {
    font-weight: 900; }
  .video_section .title_naming img {
    width: 15px;
    margin-right: 10px; }
  .video_section .location_num {
    font-size: 16px;
    color: #888;
    margin-bottom: 10px; }
  .video_section .video_play_include {
    width: 100%; }
  .video_section .video_play_include video {
    width: 100%; } }

@media (min-width: 0) and (max-width: 890px) {
  .vidoe_os {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  .vidoe_os:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .vidoe_os {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; }
  .vidoe_os:after {
    content: " ";
    display: block;
    clear: both; }
  .vidoe_os .os_title {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    border-bottom: 2px solid #222;
    padding: 5px 0; }
  .vidoe_os p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-left: 68px;
    text-indent: -68px; }
  .vidoe_os p span {
    font-weight: 900;
    color: #000;
    margin-right: 20px; } }

@media (min-width: 0) and (max-width: 890px) {
  .map_block {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  .map_block:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .map_block {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px !important; }
  .map_block:after {
    content: " ";
    display: block;
    clear: both; }
  .map_block h1 {
    font-size: 50px;
    margin: 30px 0;
    text-align: center; } }

@media (min-width: 0) and (max-width: 890px) {
  .map_section {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto; }
  .map_section:after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 891px) {
  .map_section {
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto; }
  .map_section:after {
    content: " ";
    display: block;
    clear: both; }
  .map_section .this_map {
    width: 100%;
    position: relative;
    margin-bottom: 20px; }
  .map_section .this_map .location_position {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 250px;
    transition: all .3s; }
  .map_section .this_map .location_position:hover {
    transform: scale(1.06); }
  .map_section .this_map .location_position .location {
    display: block;
    font-size: 35px;
    color: #D70D0D;
    cursor: pointer; }
  .map_section .this_map .location_position .location_detail {
    width: 250px;
    background: #FFF;
    font-size: 12px;
    padding: 10px;
    display: none; }
  .map_section .this_map .location_position .location_detail .detail_row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    border-bottom: 1px solid #eee;
    padding: 7px 0; }
  .map_section .this_map .location_position .location_detail .detail_row h6 {
    font-size: 14px;
    margin-bottom: 3px; }
  .map_section .this_map .location_position .location_detail .detail_row p {
    font-size: 12px;
    line-height: 1.2; }
  .map_section .this_map .location_position .location_detail .detail_row img {
    width: 100px;
    margin-right: 6px; }
  .map_section .this_map img {
    width: 100%; } }

.show {
  display: block !important; }

.tag_1 {
  top: 150px;
  left: 245px; }

.tag_2 {
  top: 350px;
  left: 445px; }

body {
  background: #0F5C93;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  line-height: 1.5; }

a {
  color: #143863;
  font-weight: 900;
  text-decoration: underline; }

.clear {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }
